.header {
  display: flex;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 10rem;
  background: var(--header-background);
  opacity: 0.9;
  backdrop-filter: saturate(180%) blur(20px);
  justify-content: space-around;
  align-items: flex-start;
  z-index: 1;

  .logos {
    cursor: pointer;
    line-height: 110%;

    h1 {
      margin-top: 1.5rem;
      line-height: unset;
    }

    > :hover:not(sub) {
      text-decoration: underline;
    }
  }

  p {
    opacity: 0.7;
    line-height: 1.5;
  }
}
