.themeChanger {
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */

  button {
    border: unset;
    border-radius: 3px;
  }

  .lightThemeButton {
    border: 1px solid var(--pureblack);

    &:hover {
      color: orange;
      font-weight: 600;
    }

    &.selected {
      color: orange;
      font-weight: 600;
      border-radius: 3px;
      border: 1px solid var(--pureblack);
    }

    .lightThemeIcon {
      width: 2rem;
      height: 2rem;
    }
  }

  .darkThemeButton {
    margin-left: 1rem;
    border: 1px solid var(--pureblack);

    &:hover {
      color: orange;
      font-weight: 600;
    }

    &.selected {
      color: orange;
      font-weight: 600;
      border-radius: 3px;
      border: 1px solid var(--purewhite);
    }

    .darkThemeIcon {
      width: 2rem;
      height: 2rem;
    }
  }
}