.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 2rem;
  background: var(--footer-background);
  color: deeppink;

  ul {
    list-style-type: none;
    text-align: center;
    line-height: 150%;
    margin: 0;
    padding: 0;
  }
  .footerLinks {
    a {
      color: var(--footer-foreground);
      font-size: 1.2em;
    }
  }

  .footerCopyrights {
    color: var(--neutralgrey);
    font-size: 0.875em;
  }

  .noCookies {
    color: var(--neutralgrey);
  }

  .noTracking {
    font-size: 0.6em;
    line-height: 100%;
  }
}
