html,
body {
  --purewhite: #ffffff;
  --pureblack: #000000;
  padding: 0;
  margin: 0;
  --siteWidth: 83ch;
  font-family: Poppins, sans-serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

.light {
  --background: #36a1d4;
  --background-alt: #77bfe2;
  --foreground: #fff;
  --accent: #d22d16;
  --header-background: #ffe88c;
  --footer-background: #fff;
}

.dark {
  --background: #021c1e;
  --background-alt: #8d8c8a;
  --foreground: #f6f6f6;
  --accent: #408697;
  --header-background: #004445;
  --footer-background: #004445;
}

h1 {
  font-weight: 800;
}

a {
  color: var(--accent);
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  outline: 1px solid var(--background);
}

.active {
  color: var(--foreground);
}
