html,
body {
  --purewhite: #ffffff;
  --pureblack: #000000;
  padding: 0;
  margin: 0;
  --siteWidth: 83ch;
  font-family: Poppins, sans-serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

.light {
  --background: #36a1d4;
  --background-alt: #77bfe2;
  --foreground: #fff;
  --accent: #d22d16;
  --header-background: #ffe88c;
  --footer-background: #fff;
}

.dark {
  --background: #1d3557;
  --background-alt: #457b9d;
  --foreground: #f1faee;
  --accent: #84a59d;
  --header-background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(29, 53, 87, 1) 67%,
    var(--background) 100%
  );
  --footer-background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(29, 53, 87, 1) 67%,
    rgba(168, 218, 220, 1) 100%
  );
}

* {
  box-sizing: border-box;
}

h1 {
  font-weight: 800;
}

a {
  color: var(--accent);
  text-decoration: none;
}

.active {
  color: var(--foreground);
}
