@property --offset {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

html,
body {
  --purewhite: hsl(0, 0%, 100%);
  --pureblack: hsl(0, 0%, 0%);
  --neutralgrey: hsl(0, 0%, 66%);
  padding: 0;
  margin: 0;
  --siteWidth: 83ch;
  font-family: Poppins, sans-serif;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  padding: 0;
  transition: background-color 0.5s ease;
}

::selection {
  background: var(--accent);
  color: var(--header-foreground);
  -webkit-font-smoothing: antialiased;
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--foreground);
    background-color: var(--background);
  }
}

.light {
  --background: hsl(278, 54%, 45%);
  --background-alt: hsl(200, 65%, 68%);
  --foreground: var(--purewhite);
  --accent: hsl(75, 100%, 45%);
  --header-foreground: hsl(278, 54%, 45%);
  --header-background: hsl(75, 100%, 45%);
  --footer-foreground: var(--background);
  --footer-background: var(--purewhite);
  --logo-emoji: "✍🏻";
}

.dark {
  --background: hsl(184, 88%, 6%);
  --background-alt: hsl(40, 1%, 55%);
  --foreground: hsl(0, 0%, 96%);
  --accent: hsl(192, 40%, 42%);
  --header-foreground: hsl(39, 100%, 50%);
  --header-background: hsla(181, 100%, 14%, 0.5);
  --footer-foreground: var(--accent);
  --footer-background: hsl(181, 100%, 14%);
  --logo-emoji: "✍🏽";
}

h1 {
  font-weight: 800;
  margin: 0 0 0.54rem 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

h2,
h3 {
  margin: 0 0 0.54rem 0;
  padding: 0;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  line-height: 1.1;
}

p {
  padding: 0;
  margin: 0 0 1.08rem 0;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  outline: 1px solid var(--background);
}

a {
  color: inherit;
  text-underline-offset: var(--offset, 0.2em);
  text-decoration: underline 0.15em;
  transition: --offset 400ms, text-decoration-color 400ms;
}

a:hover,
a:focus {
  --offset: 0.4em;
  text-decoration-color: var(--accent);
}
a:active {
  text-decoration-color: gold;
}

a.active {
  text-decoration-color: var(--accent);
}

@supports not (background: paint(something)) {
  a {
    transition: text-underline-offset 400ms, text-decoration-color 400ms;
  }

  a:hover,
  a:focus {
    text-underline-offset: 0.4em;
  }
}
